.navbar {
  display: flex;
  position: relative;
  height: 2rem;
  padding: 1.4rem;
}

#first-star {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}

#second-star {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#cardo-logo {
  position: absolute;
  top: 1.8rem;
  left: 3.9rem;
}

#dropdown {
  position: absolute;
  top: 2rem;
  right: 1.8rem;
}

.grower {
  flex: 1 0 0;
}

.nav-link {
  display: none;
}

@media (min-width: 600px) {
  .navbar {
    margin: 1rem 0 3rem 0rem;
  }

  #first-star {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
  }

  #second-star {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  #dropdown {
    display: none;
  }

  .nav-link {
    display: inline;
    font-family: Plus Jakarta Sans;
    font-size: 13.5px;
    text-align: center;
    padding: .7rem 2.8rem 1rem 0;
    cursor: pointer;
  }
}
